* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  background-color: #0f2f46;
  color: #ededed;
}

nav {
  z-index: 100;
}

.homeheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #04243b;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .5s;
}

.btn-box a:hover {
  color: white;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: white;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  border: 2px solid #00abf0;
}

.home-sci a:hover:before {
  width: 100%;
}

.contant {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  width: 500px;
}

.image img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px white;
}

.team-section {
  text-align: center;
  padding: 60px 10%;
  
  background-color: #0f2f46;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  height: 90vh;
}

.team-section.show {
  opacity: 1;
  transform: translateY(0);
}

.team-section h2 {
  font-size: 56px;
  color: white;
  font-weight: 600;
  margin-bottom: 40px;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 70px
}

.team-card {
  background: #081b29;

  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 280px;
  box-shadow: 0px 5px 15px rgba(0, 171, 240, 0.3);
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #00abf0;
}

.team-card h3 {
  color: #ededed;
  font-size: 20px;
  margin-bottom: 5px;
}

.team-card p {
  color: #00abf0;
  font-size: 16px;
  margin-bottom: 40px;
}

.team-card .description{
  color: white;
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

.team-card a{
  text-decoration: none;
  color: black;
  font-weight: 300;
  padding: 10px;
  background-color: #00abf0;
  border-radius: 9px;

}

.team-card a:hover{
  color: white;
}

@media (max-width: 768px) {
  .contant {
    width: 100%;
    height: 100vh;
  }

  .image {
    width: 100%;
    height: 40vh;
    display: none;
  }

  .btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
  }

  .home {
    height: 100vh;
    display: block;
   
  }

  .homeheader {
    width: 100%;
    background-color: #081b29;
  }

  .logo {
    display: none;
    width: 0;
  }

  nav {
    width: 100%;
  }

  .home-content {
    width: 300px;
    height: 50vh;
  }

  .home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
  
  }}

  .download-app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download-app img{
    box-shadow: none;
    width: 70%;
   }

  .download-app .image{
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .download-app .text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .download-app .text .elements{
    width: 80%;
   }

   .download-app .text .elements h1{
    font-weight: 700;
    font-size: 56px;
   }

   .download-app .text .elements h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
   }

   

   .download-app .text .elements p{
    width: 80%;
    margin-top: 30px;
    font-size: 16px;
   }

   .download-app .text .elements a{
    text-decoration: none;
    color: white;
    width: 30%;
    margin-right: 30px;
   }

   .download-app .text .elements a p{ 
    font-size: 30px;
    font-weight: 700;

   }

   .download-app .text .elements a p:hover{ 
    color: #00abf0;

   }


   .download-app .text .elements .download{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 50px;
   }

   
   .download-app .text .elements img{
      width: 100px;
      
   }

   @media (max-width: 768px) {

    .download-app{
      display: inline;
    }

    .download-app .image{
      width: 100%;
    }

    .download-app .text{
      width: 100%;
    }

    .download-app .text .elements{
      width: 100%;
      padding: 20px;
    }

    .download-app .text .elements p{
      width: 100%;
      margin-top: 30px;
      font-size: 16px;
     }

     .download-app .text .elements .download{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items:center;
      margin-top: 50px;
     
     }

     .download-app .text .elements a{
      text-decoration: none;
      color: white;
      width: 30%;
      margin-right: 40px;
      margin-left: 40px;
     }

     .download-app .text .elements .download p{
      font-size: 20px;
     
     }
     
   }

   .job{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
   }

   .job h1{
    font-size: 56px;
    font-weight: 600;
    text-align: center;
   }

   .job .header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .job .header .text{
    width: 40%;
   }

   .job .search{
    width: 100%;
    height: 70vh;
   
   }

   .search-container {
    background: #081b29;
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 5px 15px rgba(0, 171, 240, 0.3);
  }

  .search-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 900;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
  }

  input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  .search-button {
    width: 100%;
    padding: 12px;
    background-color: #00abf0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .search-button:hover {
    font-weight: 400;
  }

  .job .positionen{
    width: 100%;
    text-align: center;
  }

  .job .positionen .jobs{
   width: 100%;
   height: 100%;
    
  }

.job .card{
  width: 80%;
  height: 20vh;
  background: #081b29;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 10%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 171, 240, 0.3);
}

.job .card .titel{
 width: 20%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.job .card .titel h1{
 font-size: 30px;
 font-weight: 500;
 }

 .job .card .info{
  width: 80%;
  height: 100%;

 }
 
 .job .card .info .nav{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.425);
  margin-left: 5%;

 }

 .job .card .info .nav p{
  padding: 7px;
  background-color: #00acf078;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 9px;
 }

 .job .card .info .nav2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
  
 }
 
 .job .card .info .nav2 a {
 padding: 8px;
 background-color: green;
 color: white;
text-decoration: none;
border-radius: 9px;
width: 500px;
 }

 .job .card .info .nav2 a:hover {
 
 
 font-weight: 700;
  }


  @media (max-width: 768px) {
    
    .job .header{
     margin-top: 70px;
     }

    .job .header .text{
      width: 80%;
     }

    .job .card{
      width: 80%;
      height: 45vh;
      margin-bottom: 30px;
      margin-top: 30px;
      margin-left: 0%;
      border-radius: 12px;
      display: inline-block;
      
    }

    .job .card .titel{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;

     }

     .job .card .info{
      width: 80%;
      height: 100%;
    
     }
     
     .job .card .info .nav{
      width: 100%;
      display: inline-block;
      height: 20vh;
      border-bottom: 1px solid rgba(255, 255, 255, 0.425);
      margin-left: 12%;
     }
    
     .job .card .info .nav p{
      padding: 5px;
      background-color: #00acf078;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 9px;
      margin: 10px;
     }
    
     .job .card .info .nav2{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 13vh;
      margin-left: 12%;
     }

  }

  .mostwanted{
    width: 100%;
    height: 100vh;
    

  }  
    .mostwanted .text{
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    
    .mostwanted .options{
      width: 100%;
      height: 80%;  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

  .mostwanted .card-job{
    width: 300px;
    height: 500px;
    background: #081b29;
    margin: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 171, 240, 0.3);  
  }

  .mostwanted .card-job .image{
    width: 100%;
    height: 200px;
    
  }

  .mostwanted .card-job .image img{
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 12px 12px 0px 0px;
    
  }

  .mostwanted .card-job .description{
  width: 100%;
  height: 200px;
  }


  .mostwanted .card-job .description h1{
    font-size: 25px;
    margin-top: 10px;
    color: white;
  }

  .mostwanted .card-job .description h3{
    font-size: 15px;
    margin-left: 10px;
    color: #00abf0;
    font-weight: 600;
  }

  .mostwanted .card-job .description p{
    margin: 10px;
    color: white;
  }

  .mostwanted .card-job  .button a{
   padding: 10px;
    background-color: #00abf0;
    text-decoration: none;
    border-radius: 9px;
  }

  .mostwanted .card-job  .button a:hover{
    font-weight: 600;
   }

  .mostwanted .card-job  .button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   @media (max-width: 768px) {
    .mostwanted .card-job .image{
      display: inline-block;
    }
   }

   .more{
    width: 100%;
    height: 250vh;
    background-color: white;
   }

   .more .one{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .more .one .image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   }

   .more .one .image img{
    width: 500px;
   }

   .more .one .image h1{
    color: black;
    font-weight: 400;
    padding-bottom: 30px; 
   }

   .more .one .white{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .more .one .image2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
   }

   .more .one .image2 img{
    width: 500px;
   }

   .more .one .image2 h1{
    color: black;
    font-weight: 400;
    padding-bottom: 30px; 
   }

   .more .one2{
    margin-top: 150px;
   }

   .contact-info{
    width: 100%;
    height: 40vh;
  background-color: white;
   }